body {
  background-color: rgb(0, 0, 0);
  margin: 0;
}

#body_index1 {

}

h1 {
  color: rgb(23, 212, 42);
  text-align: center;
  font-family: Arial;
}

.button_inc {
  background-color: aquamarine;
  padding: 15px 50px;
  border-radius: 4px;
  border: 2px solid #4caf50; /* Green */
  cursor: pointer;

}

.button_inc:hover {
  background-color: rgb(186, 206, 198);
  padding: 15px 50px;
  border-radius: 4px;
  border: 2px solid #4caf50; /* Green */
}

.button_save:hover {
  background-color: rgb(255, 127, 127);
  padding: 25px 60px;
  border-radius: 4px;
  transition-duration: 0, 5s;
  border: 2px solid #4caf50; /* Green */
}

.button_save {
  background-color: rgb(255, 127, 127);
  padding: 25px 60px;
  border-radius: 4px;
  border: 2px solid #4caf50; /* Green */
  cursor: pointer;

}

p {
  color: aliceblue;
  text-align: center;
  padding: 10px;
  font-size: 100px;
  margin: 10px;
}

li {
  display: table;
  margin: 50px auto 0px auto;
}

.button_reset {
  background-color: rgb(241, 10, 10);
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 400px;
  border-radius: 300px;
  margin-bottom: 20px;
  height: 400px;
  object-fit: cover;
}

header {
  background-color: rgb(255, 255, 255);
}

a#link {
    position: absolute;
    top: 450px;
}